
{% load static %}
<!DOCTYPE html>
<html>
  
    <header>
        <ul>

         <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
         <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

          <title>DjTube</title>
          </ul>  
    </header>
    <body>
        <center>
   
    <div class="bar">
        <form class="mr-2 my-auto w-100 d-inline-block order-1" method="post">{% csrf_token %}
      <input class="searchbar" type="text" title="Search" placeholder="Search Video..." name="video_name">
      <a > <i style="margin-top: 5px;" class="material-icons voice">search</i></a>
       
    </div>
    <div class="buttons">
      <button class="button" type="submit">Search</button>
      <button id="clicked" class="button" type="button">Clear</button>
     </div>
    </form>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
     <script type="text/javascript">
        if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
        }
    </script>  


    <script>
        $(document).ready(function(){
       

            $('#clicked').click(function(){
                $(".searchbar").val("");
        
      })
        })

    </script>
    </center>
    {% block content %}
    {% endblock %}
  </body>

</html>